<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../static/vendor/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}">PM 2024- Group 6</a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <a class="navbar-brand ps-3" href="{{ url_for('index') }}">Intelligent Document Processing System</a>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="{{ url_for('index') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Overview
                        </a>
                        <a class="nav-link" href="https://www.youtube.com/watch?v=58-1ieDJq8c">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Demo
                        </a>
                        <div class="sb-sidenav-menu-heading">AI Engineer Module</div>
                        <a class="nav-link" href="./aienginnerguide.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            AI Engineer Handbook
                        </a>
                        <a class="nav-link" href="./aidocumentprocessing.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Document Processing
                        </a>
                        <!--<a class="nav-link" href="./aimodeltraining.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Model Training
                        </a>-->
                        <div class="sb-sidenav-menu-heading">Mech Enginner Module</div>
                        <a class="nav-link" href="./mechenginnerguide.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Mech Engineer Handbook
                        </a>
                        <!--<a class="nav-link" href="./mechchatbotmanual.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Chatbot - Manual
                        </a>-->
                        <a class="nav-link" href="./chatbot.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Chatbot - LLM
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">NUS ISS Capstone 2024 PT</div>
                    <div class="small">Group 1</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Intelligent Document Processing System</h1>

                    <ol class="breadcrumb mb-4">
                        <!--<li class="breadcrumb-item active">
                            <h4>Executive Summary</h4>
                        </li>-->
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-book-open"></i>
                            Intelligent Document Processing System  </br> <b>Authors: Sujatha Sureshkumar, Tan Jun Ming, Gwen Foong Yuet Yann</b>
                        
                        </div>
                        <div class="card-body">
                            <div>


                            </div>
                          
                                         
                            <h2>Project Overview</h2>
                            <p>This project outlines the development of an intelligent system designed to process and retrieve information from electric vehicle (EV) battery manuals. Sponsored by the Advanced Remanufacturing and Technology Centre (ARTC), the system addresses challenges engineers face when navigating complex and lengthy Original Equipment Manufacturer (OEM) manuals. By providing quick access to critical information, the system aims to improve efficiency and reduce errors during the disassembly and maintenance of end-of-life EV batteries.</p>

                            <h2>Natural Language Processing and System Approach</h2>
                            <p>The system employs advanced Natural Language Processing (NLP) techniques, including a <strong>Retrieval-Augmented Generation (RAG)</strong> pipeline, to efficiently process the manuals. Key steps include:</p>
                            <ul>
                                <li><strong>Text Extraction and Cleaning:</strong> Extracting text from PDF manuals, splitting it into individual sentences, identifying sections like warnings and instructions, and preparing the text for analysis.</li>
                                <li><strong>Vector Embeddings:</strong> Converting processed data into vector embeddings, which represent the context and meaning of the text, enabling efficient search and retrieval.</li>
                                <li><strong>Conversational Interface:</strong> Engineers interact with the system via a conversational interface where they ask questions in natural language. The system matches these queries to the most relevant sections of the manual and provides contextually accurate responses.</li>
                            </ul>

                            <h2>Business Problem Statement</h2>
                            <p>The growing demand for <strong>remanufacturing, repurposing, and recycling</strong> of end-of-life products like EV batteries has created a need for engineers to refer to complex OEM manuals containing critical disassembly and safety information. These manuals are often difficult to navigate, making the process time-consuming and error-prone. As a result, operational inefficiencies arise, and there is an increased risk of mistakes during disassembly and maintenance. An intelligent system is needed to enable engineers to easily access and query relevant information, improving productivity and reducing errors.</p>

                            <h2>Technical Problem Statement</h2>
                            <p>Engineering manuals are often lengthy and text-heavy, making it challenging for engineers to quickly find specific disassembly instructions or safety procedures. The system, using a <strong>Retrieval-Augmented Generation (RAG) pipeline</strong>, allows engineers to upload manuals and query specific information in real-time, offering accurate responses to questions such as "What are the potential dangers during removal of the service plug?" This approach enhances both operational efficiency and safety.</p>

                            <h2>System Design and Approach</h2>
                       
                        <img src="../static/vendor/img/img_ta_project.png" alt="Usecase" class="center"/>
                     
                            <p>The system's architecture consists of four key modules:</p>
                            <ul>
                                <li><strong>Text Extraction and Processing:</strong> Users upload the engineering manual, which is then pre-processed. This involves text extraction, sentence splitting, cleaning, and structuring.</li>
                                <li><strong>Vector Embeddings and Knowledge Database Creation:</strong> A vector embedding model is used to create sentence-level embeddings, which are then indexed to form the knowledge database. Pre-trained and fine-tuned models are evaluated for this purpose.</li>
                                <li><strong>RAG Pipeline:</strong> The Retrieval-Augmented Generation pipeline is implemented to answer users' queries. The system's retrieval methodology and the chosen language model ensure accurate and contextually relevant responses.</li>
                                <li><strong>User Interface and Query Processing:</strong> The entire system is encapsulated within a conversational user interface. Engineers can upload manuals and ask queries related to specific manual content.</li>
                            </ul>


                            <p>The intelligent system provides a practical solution to the inefficiencies engineers face when working with technical manuals, offering significant improvements in productivity, safety, and accuracy.</p>

                        </div>

                    </div>

                  
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; NUS-ISS</div>
                        <div>
                            <a href="https://nus.edu.sg/ormc/compliance/personal-data-protection-at-nus/nus-privacy-notice">Privacy Policy</a>
                            &middot;
                            <a href="https://www.nus.edu.sg/uhc/terms-conditions">Terms of use</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>